# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
.next
dist
build
out
.turbo

# Cache
.cache
*.tsbuildinfo

# Env files
.env
.env.local
.env.*.local
!.env.example

# Coverage
coverage

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
*.swp
*.swo

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vercel
.vercel

tmp